<div class="event-form-ctr">
  <form class="form-inline">
    <div class="form-group event-text-ctr">
      <input
        class="form-control"
        type="text"
        name="header"
        value="<%= header %>">

      <input
        class="form-control"
        type="text"
        name="subheader"
        value="<%= subheader %>">

      <input
        class="form-control"
        type="text"
        name="event_text"
        value="<%= event_text %>">
    </div>

    <div class="form-group event-date-ctr">
      <!-- <span>Start time</span> -->
      <div>
      <label for="start-input-<%= id %>">Start Time</label>
      <input
        id="start-input-<%= id %>"
        class="form-control"
        type="datetime-local"
        name="start_time_ms"
        value="<%= startISO %>">
        </div>

      <!-- <span>End time</span> -->
      <div>
      <label for="end-input-<%= id %>">End Time</label>
      <input
        id="end-input-<%= id %>"
        class="form-control"
        type="datetime-local"
        name="end_time_ms"
        value="<%= endISO %>">
      </div>

      <div>
      <label for="event-time-input-<%= id %>">Event Time</label>
      <input
        id="event-time-input-<%= id %>"
        class="form-control"
        type="datetime-local"
        name="end_time_ms"
        value="<%= eventISO %>">
      </div>
    </div>

    <div class="form-group">
      <!-- <span>Countdown Timer</span> -->
      <input
        class="form-control"
        type="number"
        name="countdown_hours"
        value="<%= countdown_hours %>">
    </div>

    <div class="form-group">
      <button class="form-control delete-event-btn">Delete</button>
    </div>
  </form>
</div>
