<div class="tablet-event-text-ctr">
  <div class="tablet-event-header"><%= header %></div>
  <div class="tablet-event-text"><%= subheader %></div>
</div>

<ul class="tablet-event-date-ctr">
  <li class="tablet-event-date-info">
    <span class="glyphicon glyphicon-calendar"></span>
  </li>
  <li class="tablet-event-date-info">
    <span>
      <%= eventStartDate %>
    </span>
  </li>
  <li class="tablet-event-date-info time-info">
    <span>
      <%= eventStartTime %>
    </span>
  </li>
  <li class="tablet-event-date-info time-info">
    <span>
      <%= eventEndTime %>
    </span>
  </li>
</ul>

<ul class="tablet-event-date-ctr">
  <li class="tablet-event-date-info">
    <i class="glyphicon glyphicon-time"></i>
  </li>
  <li class="tablet-event-date-info">
    <span>
      <%= countdown_hours %> hr
    </span>
  </li>
</ul>
